@media (min-width: 1025px) and (max-width: 1199px) {
	.team-member { min-height: 450px; }
	.intro {
		margin-top: 20%;
		line-height: 3.438rem !important;
		font-size: 2.813rem;
	}
	.intro h1 { font-size: 2.813rem; } 
	.intro h3 { padding-top: 10px; font-size: 1.5rem; line-height: 2rem;}    	
}
@media (min-width: 992px) and (max-width: 1024px) {
     .navbar-right {
        float: none !important;
        margin: auto;
        margin-left: 130px;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    
    
    /* TOP BAR ELEMENTS */    
	.responsive-logo {
		width: 100%;
		position: relative;
		text-align: center;
		margin-top: 10px;
		padding-top: 5px;
	}
   
	.responsive-logo a {
		float: none !important;
	}

	.responsive-nav {
		text-align: center;
		width: 100%;
		padding-top: 0;
	}

	.responsive-nav li {
		margin-bottom: 15px;
		margin-top: 0 !important;
	}

	.navbar-brand {
		width: 100%;
	}

	.navbar-brand img {
		margin: auto;
	}
     
     
     /* HOME */
	.intro {
		margin-top: 20%;
		line-height: 3.438rem !important;
		font-size: 2.813rem;
	}
	.intro h1 { font-size: 2.813rem; } 
	.intro h3 { padding-top: 10px; font-size: 1.5rem; line-height: 2rem;}    

      /* ABOUT US */
	.big-intro {
		text-align: center !important;
	}

	.about-us .column {
		margin-bottom: 40px;
	}

	.skills {
		margin-bottom: 78px !important;
	}
      
      /* TEAM */
	.team-member .profile-pic {
		width: 128px;
		height: 128px;
	}

	.team-member .details {
		display: none;
	}
      /* PURCHASE NOW */
	.purchase-now {
		margin: auto;
		text-align: center !important;
	}

	.purchase-now h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	.purchase-now .red-btn {
		float: none;
	}
      
      /* FOOTER */
	footer {
		padding-top: 40px;
	}

	.company-details {
		padding-top: 0;
		padding-bottom: 33px;
	}

	.copyright {
		width: 100%;
		padding-top: 33px;
		padding-bottom: 33px;
	}
	.popup-form {
		width: 100%;
		margin: 60px auto;
	}
	.modal {
		padding: 0 10px !important;
	}
	.popup-form .form-control:not(.dropdown):focus {
		position: relative;
		padding-right: 30px;
		padding-left: 30px;
	}	
}
@media (max-width: 1024px) {
    .features {
        text-align: center;
    }
    
    .features .feature-icon {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 1067px) {
	video {
		display: none;
	}
}
@media (max-width: 1067px) {
	.header {
		background-image: url(../images/backgrounds/redwood_landing.jpg);
		background-size: cover;
		height: 500px;
	}
}

@media (max-width: 767px) {

	.intro {
		margin-top: 20%;
		line-height: 3.438rem !important;
		font-size: 2.813rem;
		width: 70%;
	}
	.intro h1 { font-size: 2.813rem; } 
	.intro h3 { padding-top: 10px; font-size: 1.5rem; line-height: 2rem;}    
    html {
        font-size: 90%;
    }
    
    .bs-navbar-collapse {
		border: 0;
	}

	.navbar-inverse .navbar-nav {
		padding-left: 10px;
		line-height: normal;
		text-align: center;
	}

	.navbar-inverse .navbar-nav>li {
		display: inline-block;
		margin-bottom: 0;
	}
.navbar-brand	.logo { width: 60px; }	
    /* HOME */
	.header {
		min-height: inherit;
		padding-bottom: 75px;
	}
	.focus h3 {
			font-size: 30px;
	}
	.focus {
		padding: 10px 0;
	}
      
      /* ABOUT US */
	.big-intro {
		text-align: center !important;
		font-size: 8vw !important;
	}
	
	.about-us .column {
		margin-bottom: 40px;
	}

	.skills {
		margin-bottom: 78px !important;
	}
      
      /* PURCHASE NOW */
	.purchase-now {
		margin: auto;
		text-align: center !important;
	}

	.purchase-now h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	.purchase-now .red-btn {
		float: none;
	}
      
      /* FOOTER */
	footer {
		padding-top: 40px;
	}

	.company-details {
		padding-top: 0;
		padding-bottom: 33px;
	}

	.copyright {
		width: 100%;
		padding-top: 33px;
		padding-bottom: 33px;
	}
}

@media (max-width: 480px) {
 

/* HOME */
	html {
        font-size: 70%;
    }
	.responsive-logo img {
        width: 70%;
    }
    
    #main-nav {
        min-height: 50px;
    }
   .focus {
   	padding: 0 0;
   }
	.focus h3 {
			font-size: 20px;
	}
.navbar-brand	.logo { width: 50px; }		

.team-member { min-height: 400px; }
    .focus,.works,.about-us,.features, .our-team,.packages,.products .color-overlay,.testimonial,.contact-us {
	padding-top: 60px;
}
    .buttons {
	    margin-bottom: 30px;
	    margin-top: 30px;
	}
     
    .custom-button {
        padding: 10px 18px;
    }
     h1 {
        font-weight: normal;
    }
    
	h2 {
		font-size: 6.5vw !important;
	}
	
	 h3 {
        font-size: 1.7rem;
    }

	.other-focus-list ul li {
		display: block;
		text-align: left;
		margin-right: 0;
	}
}

@media (max-width: 320px) {
    
    html {
        font-size: 62.5%;
    }
.team-member { min-height: 450px; }
.navbar-brand	.logo { width: 40px; }	    
    body {
        font-size: 1.3rem;
    }
    
    .focus,.works,.about-us,.features, .our-team,.packages,.products .color-overlay,.testimonial,.contact-us {
	padding-top: 50px;
}
    
    h1 {
        font-weight: normal;
    }
    
    h3 {
        font-size: 1.7rem;
    }
    
    .intro {
        margin-top: 50%;
		line-height: 3.1rem !important;
		font-size: 2.1rem;
	}

	.client-list ul li {
		display: block;
	}
}